spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5433/revdb}
    username: ${SPRING_DATASOURCE_USERNAME:rev}
    password: ${SPRING_DATASOURCE_PASSWORD:revpass}

  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    default-schema: ${SPRING_FLYWAY_DEFAULT_SCHEMA:public}
    schemas: ${SPRING_FLYWAY_SCHEMAS:public}

  sql:
    init:
      mode: never

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
   org.mongodb.driver: WARN

app:
   jwt:
   secret: ${APP_JWT_SECRET:change-this-in-prod}
   issuer: re:v
   access-token-minutes: 15
   refresh-token-days: 7
   spring:
   security:
   filter:
   dispatcher-types: request