spring:
  flyway:
    default-schema: public
    schemas: public
  jpa:
    properties:
      hibernate:
        default_schema: public
  sql:
    init:
      mode: never

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    root: ${LOG_LEVEL_ROOT:INFO}
