spring:
  flyway:
    enabled: true
    schemas: rev
    baseline-on-migrate: true      # ✅ 핵심
    clean-disabled: false        # (선택) clean을 쓸 거면 주석 해제
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        default_schema: rev
        hbm2ddl.create_namespaces: true
